.counterWrapper {
  padding: 2rem;
  border-radius: 8px;
  background-color: #090909;

}

.counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.counterValue {
  font-size: 8em;

}

.counterControls {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.counterControlWrapper {
  display: flex;
  gap: .8rem;
}

.counterControlWrapper input {
  border-radius: 8px;
  border: 1px solid #242424;
  padding: 0.6em 1.2em;
  width: 100%;
}

.button {
  width: 100%;
  padding: .4rem;
  min-width: 10rem;
}

.asyncButton {
  composes: button;
  position: relative;
}

.asyncButton:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.13);
  /*display: block;*/
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width 1s linear, opacity 0.5s ease 1s;
}

.asyncButton:active:after {
  width: 0;
  opacity: 1;
  transition: 0s
}